
<% layout("layouts/boilerplate.ejs")%>
<div class="row">
    <h1 class="text-center">Edit Clothing</h1>
    <div class="col-6 offset-3">
        <form action="/clothings/<%=clothing._id%>?_method=PUT" method="POST">
            <input type="text" id="title" name="title" value="<%=clothing.title%>">
            <input type="number" id="price" name="price" value="<%=clothing.price%>">
            <button>Update Clothing</button>
    </form>

    </div>

    </div>


    <a href="/clothing">All Clothing</a>
