
<% layout("layouts/boilerplate.ejs")%>

    <form action="/clothings" method="POST">
            <input type="text" id="title" name="title">
            <input type="number" id="price" name="price">
            <button>Add Clothing</button>
    </form>
    <a href="/clothing">All Clothing</a>
</body>
</html>