<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><%=clothing.title%></h2>
    <h2><%=clothing.price%></h2>
    <a href="/clothing">All Clothing</a>
    <a href="/clothing/<%=clothing._id%>/edit">Edit </a>
    <p><form action="/clothing/<%=clothing._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form></p>
</body>
</html>